* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
}

header.top-bar {
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header.top-bar h1 {
    margin: 0;
    font-size: 1.8em;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.sidebar {
    background-color: #ffffff;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #ddd;
    flex-shrink: 0;
    transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    position: relative; /* Necesario para el footer */
}

.sidebar.hidden {
    transform: translateX(-100%);
    opacity: 0;
    width: 0;
}

.sidebar img {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar h2 {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.sidebar nav ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
}

.sidebar nav ul li {
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 0;
}

.sidebar nav ul ul {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.sidebar nav ul ul li {
    font-weight: normal;
}

.sidebar nav ul ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar nav ul ul li a:hover {
    background-color: #ddd;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    min-height: 100vh;
    width: calc(100% - 250px);
    transition: width 0.3s ease;
}

.sidebar.hidden + .main-content {
    width: 100%;
}

.parameters-container, .attendance-form {
    width: 100%;
    max-width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.parameters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.parameters-container label {
    margin-right: 10px;
}

.parameters-container select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 220px;
}

.search-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: auto;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.attendance-table th, .attendance-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.attendance-table th {
    background-color: #e0e0e0;
}

.edit-button, .delete-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-toggle {
    background-color: #ffffff;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
}

.nav-toggle:focus {
    outline: none;
}

.modal {
    visibility: hidden; /* No visible al cargar */
    opacity: 0; /* Totalmente transparente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s ease; /* Transici贸n suave */
}

/* Cuando se activa el modal */
.modal.show {
    visibility: visible; /* Se hace visible */
    opacity: 1; /* Aparece con opacidad completa */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content .save-button, .modal-content .cancel-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Modal de eliminaci贸n */
#deleteModal {
    visibility: hidden; /* Oculto al inicio */
    opacity: 0; /* Transparente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s ease; /* Transici贸n suave */
}

#deleteModal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content-delete {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.modal-content-delete h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.modal-content-delete .student-info {
    margin-bottom: 20px;
    text-align: left;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content-delete .student-info p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.modal-content-delete .cancel-button-delete, .modal-content-delete .delete-button-confirm {
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content-delete .cancel-button-delete:hover, .modal-content-delete .delete-button-confirm:hover {
    background-color: #444;
}

/* Footer del aside */
.user-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
}

.user-footer-btn {
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.3s ease; /* Transici贸n suave de 0.3s para cambio de texto */
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .main-content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        width: calc(100% - 250px);
    }

    .parameters-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .parameters-container .parameter {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .parameters-container > * {
        margin-bottom: 10px;
        width: 100%;
    }

    .search-button {
        width: auto;
        align-self: flex-start;
    }

    .modal-content {
        width: 90%;
    }

    .modal-content-delete {
        width: 90%;
    }
}
