* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: hidden; /* Evitar scroll horizontal cuando el aside esté oculto */
}

header.top-bar {
    background-color: #ffffff; /* Color de fondo completamente opaco */
    width: 100%;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header.top-bar h1 {
    margin: 0;
    font-size: 1.8em;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row; /* Mantener aside y main en línea */
}

.sidebar {
    background-color: #ffffff; /* Color de fondo completamente opaco */
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear todo el contenido hacia la izquierda */
    border-right: 1px solid #ddd; /* Opcional, para dividir el sidebar del contenido */
    flex-shrink: 0; /* Evitar que el aside se reduzca */
    transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease; /* Transición suave para el desplazamiento y opacidad */
    overflow: hidden; /* Ocultar cualquier contenido desbordante */
    position: relative; /* Necesario para el footer */
}

.sidebar.hidden {
    transform: translateX(-100%); /* Mover el aside fuera de la vista hacia la izquierda */
    opacity: 0; /* Ocultar el contenido del aside */
    width: 0; /* Ocultar el ancho del aside */
}

.sidebar img {
    width: 150px;
    height: auto;
    margin-bottom: 30px; /* Aumentar el espacio inferior del icono */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centrar la imagen en el aside */
}

.sidebar h2 {
    text-align: left; /* Alinear el título a la izquierda */
    margin-bottom: 20px;
    margin-top: 10px; /* Añadir margen superior al título */
    font-weight: bold; /* Título en negrita */
}

.sidebar nav ul {
    list-style: none;
    width: 100%;
    padding-left: 0; /* Eliminar padding predeterminado */
    margin-top: 10px; /* Añadir margen superior a la lista */
}

.sidebar nav ul li {
    margin-bottom: 10px;
    font-weight: bold; /* Asegurar que los títulos estén en negrita */
    padding-left: 0; /* Alinear los títulos principales hacia la izquierda */
}

.sidebar nav ul ul {
    margin-left: 20px; /* Tabulación para los subelementos */
    margin-bottom: 20px;
    font-weight: normal; /* Los enlaces no deben estar en negrita */
}

.sidebar nav ul ul li {
    font-weight: normal;
}

.sidebar nav ul ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar nav ul ul li a:hover {
    background-color: #ddd;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiado de 'center' a 'flex-start' para mover contenido arriba */
    align-items: flex-start;
    padding-left: 70px; /* Ajuste para mover el texto hacia la derecha */
    padding-top: 20px; /* Ajuste para mover el contenido más arriba */
    background: url('../resources/main_background.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
    width: calc(100% - 250px); /* Restar el ancho del aside */
    animation: backgroundScroll 20s linear infinite alternate; /* Velocidad normal para pantallas grandes */
    transition: width 0.3s ease; /* Transición suave cuando el main cambia de tamaño */
}

.sidebar.hidden + .main-content {
    width: 100%; /* Ocupa todo el espacio disponible cuando el aside está oculto */
}

@keyframes backgroundScroll {
    0% {
        background-position: center left;
    }
    100% {
        background-position: center right;
    }
}

.welcome-message {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 20px; /* Suavizar los bordes del cuadro de texto */
    max-width: 800px;
    text-align: justify;
    margin-top: 10px; /* Reducido el margen superior para mover el cuadro más arriba */
    font-size: 1.6em; /* Tamaño de fuente reducido */
    line-height: 1.5em;
    font-weight: bold;
}

/* Botón de navegación */
.nav-toggle {
    background-color: #ffffff;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 5px 10px; /* Reducir el padding para minimizar el espacio superior e inferior */
    margin: 0 0 10px 0; /* Reducido el margen superior para mover el botón más arriba */
    border-radius: 15px; /* Suavizar los bordes del botón */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: block; /* Siempre visible */
}

.nav-toggle:focus {
    outline: none;
}

/* Footer del aside */
.user-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
}

.user-footer-btn {
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.3s ease; /* Transición suave de 0.3s para cambio de texto */
}

/* Ajustes para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: row; /* Mantener aside y main en línea */
        flex-wrap: nowrap; /* Evitar que el main se desplace debajo del aside */
    }

    .sidebar {
        width: 250px; /* Mantener el ancho del aside */
        padding: 10px;
        flex-shrink: 0; /* Mantener el ancho fijo del aside */
    }

    .main-content {
        padding-left: 20px; /* Desplazamiento reducido en pantallas pequeñas */
        padding-top: 10px; /* Ajuste para mover el contenido más arriba en pantallas pequeñas */
        background-size: cover; /* Mantiene la cobertura de la imagen en pantallas pequeñas */
        animation: backgroundScrollMobile 40s linear infinite alternate; /* Velocidad más lenta para pantallas pequeñas */
        width: calc(100% - 250px); /* Mantener el main al lado del aside */
    }

    header.top-bar h1 {
        font-size: 1.5em;
    }

    .welcome-message {
        font-size: 1.2em; /* Reducir el tamaño del texto en pantallas pequeñas */
        padding: 20px; /* Ajustar el padding para pantallas pequeñas */
        border-radius: 15px; /* Suavizar más los bordes en pantallas pequeñas */
        max-width: 90%; /* Limitar el ancho máximo del cuadro de texto */
    }
}

/* Ajustes para pantallas extra pequeñas */
@media screen and (max-width: 480px) {
    .welcome-message {
        font-size: 1em; /* Tamaño de fuente aún más pequeño en pantallas extra pequeñas */
        padding: 15px; /* Ajuste adicional en padding */
    }
}

@keyframes backgroundScrollMobile {
    0% {
        background-position: center left;
    }
    100% {
        background-position: center right;
    }
}
